<div class="w-100">
    <div class="container d-flex align-items-center" style="height: 300px">
        <div class="w-100 text-center">
            <typewriter text="Admin Panel" [delay]="500"></typewriter>
        </div>
    </div>
    <div class="container mb-md-5 p-0 bg-white">
        <div class="p-4">
            <h3>Users</h3>
            <table class="table mt-3">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th class="text-center">Admin</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of adminService.users | async">
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td class="text-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="adminCheck" [checked]="user.admin"
                                   disabled>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="p-4">
            <h3>Quotes</h3>
            <table class="table mt-3">
                <thead>
                <tr>
                    <th>Quote</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let quote of store.quotes | async">
                    <td>{{quote.text}}</td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="">+ Add Quote</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="p-1 bg-dark text-center" style="color: grey">
            © 2019 ZaksCode
        </footer>
    </div>
</div>
