@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #333; }
::-webkit-scrollbar-thumb { background: #555; border-radius: 5px }
::-webkit-scrollbar-thumb:hover { background: #aaa; }

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	font-family: Roboto,sans-serif;
	background: #354B72 url(/cloud.gif) no-repeat fixed right 50% top -10vh;
}

a:not(.btn), a:not(.btn):visited {
	color: #007bff;
	text-decoration: none;

	&:hover {
		color: #0062ce;
		text-decoration: underline;
	}
}

.cap-width {
	width: min(100%, 1100px);
	margin-left: auto;
	margin-right: auto;
}
