<div class="w-100">
    <div class="w-100" style="height: calc(100vh - 140px)"></div>
    <div class="container p-0 bg-white">
        <div class="px-4" style="background-color: #732222">
            <mat-card style="max-width: 600px; transform: translateY(-33%)">
                <mat-card-content class="d-flex p-3">
                    <div class="d-none d-md-block pr-3">
                        <img src="assets/img/portrait.jpg" width="150px" height="150px" style="border-radius: 50%" alt="Zakary Timson">
                    </div>
                    <div>
                        <h1 class="mb-0">Zakary Timson</h1>
                        <h5 class="text-muted">FULL STACK SOFTWARE ENGINEER</h5>
                        <div class="mt-3">
                            <div><i class="mr-2 fa fa-map-marker-alt"></i> London Ontario, Canada</div>
                            <div><i class="mr-2 fa fa-envelope"></i> <a href="mailto:zaktimson@gmail.com">zaktimson@gmail.com</a>
                            </div>
                            <div><i class="mr-2 fab fa-github"></i> <a href="https://github.com/ztimson" target="_blank">github.com/ztimson</a></div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="p-4">
            <console></console>
        </div>
        <div class="p-4">
            <h3>About Me</h3>
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <p>
                        Zak was born with a keyboard in hand and was learning his first programming language by thirteen. Nearly
                        entirely self taught, Zak challenged his programming courses through both highschool and college while
                        working in the industry to gain professional experience. He is very passionate about technology and as a
                        lifelong learner it has opened the door to many other hobbies like robotics, space and physics. Some of his
                        personal projects include a full sized arcade machine, home automation and a power wall for a home solar
                        system.
                    </p>
                </div>
                <div class="flex-shrink-1 p-3">
                    <img src="assets/img/keyboard-in-hand.jpg" height="150px" width="auto" style="border-radius: 50%">
                </div>
            </div>

        </div>
        <!-- <div class="p-4 text-white" style="background-color: #1c7fc1">
            <h3>Projects</h3>
            <div style="height: 400px">
                <slideshow></slideshow>
            </div>
        </div> -->
        <div class="p-4">
            <h3>Resume & References</h3>
            <a class="btn btn-outline-primary" href="https://docs.google.com/document/d/1xP6HASPerXKMJM_x6-PhHVvoYgq-Hym5IRO7g47EX8o/edit?usp=sharing" target="_blank">Resume</a>
            <div class="ml-3 btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-outline-info" href="https://drive.google.com/file/d/0B_iz0vkzXmAyNWw0UDFzT0ZTeVU/view?usp=sharing" target="_blank">Manager</a>
                <a class="btn btn-outline-info" href="https://drive.google.com/file/d/0B_iz0vkzXmAyaFBhcXBEaGp6YWc/view?usp=sharing" target="_blank">Contractor</a>
                <a class="btn btn-outline-info" href="https://drive.google.com/file/d/0B_iz0vkzXmAyM0YtTWcxQzk0dEE/view?usp=sharing" target="_blank">Teacher</a>
                <a class="btn btn-outline-info" href="https://drive.google.com/file/d/0B_iz0vkzXmAyX2owd0xURjh3RlE/view?usp=sharing" target="_blank">Principle</a>
                <a class="btn btn-outline-info" href="https://drive.google.com/file/d/0B_iz0vkzXmAyMHdaM1BjZ1MwbWxva2lOY290NElwanN4b2JV/view?usp=sharing" target="_blank">CD Project Red</a>
            </div>
        </div>
        <footer class="p-1 bg-dark text-center" style="color: grey">
            Copyright © Zakary Timson 2019 | All Rights Reserved
        </footer>
        <div class="skirt"></div>
    </div>
</div>
