.typewriter {
    & {
        overflow: hidden;
        margin: 0 auto;
        letter-spacing: .15em;
        animation: blink-caret 1s step-end infinite;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
    }

    @keyframes blink-caret {
        from, to { border-right: .15em solid; }
        50% { border: none; }
    }
}
