@import url("https://fonts.googleapis.com/css?family=Arvo");

.typewriter h1 {
  color: white;
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: blink-caret 1s step-end infinite;
  display: inline;
  font-family: 'Arvo', serif;

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }
}
